<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        body {
            margin: 0;
            padding: 20px; /* Adds padding around the sides */
            display: flex;
            flex-direction: column;
            font-family: sans-serif;
            background-color: gray;
            align-items: center;
            height: calc(100vh - 40px); /* Adjusted for padding */
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
    {% block head %}
    {% endblock head %}
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>
