<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cube Club{% endblock title %}</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    {% block head %}
    {% endblock head %}
</head>
<style>
    body {
        height: 85vh;
    }

    /* The switch - the box around the slider */
    .switch {
        /* Variables */
        --switch_width: 2em;
        --switch_height: 1em;
        --thumb_color: #e8e8e8;
        --track_color: #e8e8e8;
        --track_active_color: #888;
        --outline_color: #000;
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: var(--switch_width);
        height: var(--switch_height);
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        box-sizing: border-box;
        border: 2px solid var(--outline_color);
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--track_color);
        transition: .15s;
        border-radius: var(--switch_height);
    }

    .slider:before {
        box-sizing: border-box;
        position: absolute;
        content: "";
        height: var(--switch_height);
        width: var(--switch_height);
        border: 2px solid var(--outline_color);
        border-radius: 100%;
        left: -2px;
        bottom: -2px;
        background-color: var(--thumb_color);
        transform: translateY(-0.2em);
        box-shadow: 0 0.2em 0 var(--outline_color);
        transition: .15s;
    }

    input:checked + .slider {
        background-color: var(--track_active_color);
    }

    input:focus-visible + .slider {
        box-shadow: 0 0 0 2px var(--track_active_color);
    }

    /* Raise thumb when hovered */
    input:hover + .slider:before {
        transform: translateY(-0.3em);
        box-shadow: 0 0.3em 0 var(--outline_color);
    }

    input:checked + .slider:before {
        transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
    }

    /* Raise thumb when hovered & checked */
    input:hover:checked + .slider:before {
        transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
        box-shadow: 0 0.3em 0 var(--outline_color);
    }
</style>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/favicon.ico" alt="cube club icon">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            {% if base.user %}
                <a class="navbar-item" href="/mosaic">
                    Mosaics
                </a>

                <a class="navbar-item" href="/timer">
                    Timer
                </a>
            {% endif %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if base.user %}
                        <a class="button is-light" href="/logout">
                            Log out
                        </a>
                    {% else %}
                        <a class="button is-light" href="/login/google">
                            Log in with RIT
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        {% if base.user %}
        console.log("Welcome, {{ base.user.full_name }}")
        {% endif %}

        // https://bulma.io/documentation/components/navbar/
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });

    });
</script>
{% block body %}{% endblock body %}
</body>
</html>
