{% extends "base" %}
{% block title %}Oops{% endblock title %}
{% block head %}
<style>
    body {
        justify-content: center;
        align-content: center;
        height: 80vh;
    }
</style>
{% endblock head %}
{% block body %}
<h1>Something went wrong.</h1>
<h1>Please try again later.</h1>
{% endblock body %}
