{% extends "base" %}
{% block title %}Cube Club{% endblock title %}
{% block body %}
    <section class="section">
        <h1 class="title">Mosaic is finished!</h1>
        <div class="buttons">
            <a class="button is-light is-danger" href="/mosaic/admin">
                Mosaic Admin
            </a>
        </div>
    </section>
{% endblock body %}
